<h1>User List</h1>
<hr>
<div class="row">
    <div class="col text-end">
        <button routerLink="/user/new" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Add
        </button>
    </div>
</div>


<table *ngIf="!isLoading && users.length !== 0" class="table mt-3 animate__animated animate__fadeIn animate__fast">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of users; let i = index">
            <th scope="row"> {{ i + 1 }}</th>
            <td>{{item.name}}</td>
            <td>{{item.lastName}}</td>
            <td>
                <label *ngIf="item.status" class="badge bg-success">Active</label>
                <label *ngIf="!item.status" class="badge bg-danger">Inactive</label>
            </td>
            <td>
                <button class="btn btn-info me-1" [routerLink]="[ '/user/', item.id ]">
                    <i class="fa fa-pen"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteUser(item, i)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="!isLoading && users.length === 0" class="alert alert-warning text-center mt-3" role="alert">
    <h4 class="alert-heading">No records</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>

<div *ngIf="isLoading" class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Loading...</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"> </i>
    </p>
    <p class="mb-0">
        Please wait
    </p>
</div>